{% extends "frontend/base_cms/base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}Employee List{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4">Employee List</h1>

    <!-- FILTER FORM CONTAINER -->
    <div class="card bg-base-100 shadow-xl p-6 m-5">
        <h2 class="text-lg font-semibold mb-4">Filters</h2>

        <form method="get" class="grid grid-cols-4 gap-4">
            <!-- Common Search -->
            <div>
                <label class="label font-semibold">Search</label>
                <input type="text" name="search" class="input input-bordered" placeholder="Search employees..."
                    value="{{ request.GET.search }}">
            </div>

            <!-- Branch Filter -->
            <div>
                <label class="label font-semibold"></label>
                {{ filter.form.branch|as_crispy_field }}
            </div>

            <!-- Role Filter -->
            <div>
                <label class="label font-semibold"></label>
                {{ filter.form.role|as_crispy_field }}
            </div>

            <!-- Buttons -->
            <div class="flex flex-col align-center">
                <div class="w-full">

                    <button type="submit" class="btn btn-primary  w-full ">
                        <box-icon name="filter"></box-icon>Filtra
                    </button>
                </div>
                <div class="w-full">
                    <button type="submit" class="btn w-full ">
                        <a href="{% url 'all_employees' %}" class="btn ghost w-full ">Reset</a>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- EMPLOYEE TABLE -->
    <div class="card bg-base-100 shadow-xl p-4 m-5">
        {% render_table table %}
    </div>

{% endblock %}
