{% extends 'frontend/base_cms/base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4 py-6">
<div class="dashboard">
    <div class="container mx-auto p-4">
        <div class="card-header text-center">
            {% if not filtered %}
                <h2 class="text-2xl font-bold mb-4">Dashboard</h2>
            {% else %}

            {% endif %}
        <div class="card bg-base-100 shadow-xl p-6 m-5 text-center">
            <form method="POST" action="#">
                {% csrf_token %}
                <div class="form-group">
                    <label for="date" class="form-label m-3 text-2xl text-bold">Date:</label>
                    <input class="flatpickr input input-secondary" type="text" name="date" id="dateFilterInput">
                    <button type="submit" class="btn btn-primary m-3"><box-icon name="filter"></box-icon>Filtra</button>

                </div>
            </form>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    flatpickr("#dateFilterInput", {
                        dateFormat: "Y-m-d",
                        defaultDate: "{{ date|date:'Y-m-d' }}",
                        mode: "range",
                    });
                });
            </script>

        </div>
    </div>

    <div class="container mx-auto p-4">
        {% for branch in branches_data %}
            <!-- Stats Card -->
            <div class="card bg-base-100 shadow-xl p-6 m-5 text-center">
                <div class="stats shadow">
                    <div class="stat">
                        <div class="stat-figure text-secondary">
                            <div class="badge p-5 m-4 bg-base-100 badge-secondary">
                                <div class="w-16 h-16">
                                    {% if branch.brand == "equivalenza" %}
                                        <img src="{% static 'imgs/equivalenza_logo.png' %}" />
                                    {% elif branch.brand == "original" %}
                                        <img src="{% static 'imgs/original_logo.png' %}" />
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="stat-value align-center mt-3 vertical-align-middle">{{ branch.name }}</div>
                    </div>

                    <div class="stat">
                        <div class="stat-title">Totale Scontrini</div>
                        <div class="stat-value text-primary">{{ branch.receipts|sum_values_int }}</div>
                    </div>

                    <div class="stat">
                        <div class="stat-title">Totale Vendite</div>
                        <div class="stat-value text-secondary">€ {{ branch.sales|sum_values }}</div>
                    </div>
                </div>

                <!-- ApexCharts for Sales -->
                <div id="sales-chart-{{ branch.id }}" class="mt-4">
                    <h2 class="text-bold text-2xl">Report Vendite</h2>

                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var options = {
                            series: [{
                                name: 'Sales',
                                data: [
                                    {% for date, value in branch.sales.items %}
                                        {{ value|floatformat:2 }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                ]
                            }],
                            chart: {
                                type: 'line',
                                height: 350
                            },
                            xaxis: {
                              categories: {{ branch.categories|safe }},
                              labels: {
                                style: {
                                  colors: 'var(--icon-color)',
                                  fontSize: '14px',
                                  fontFamily: 'Helvetica, Arial, sans-serif',
                                  fontWeight: 600
                                }
                              }
                            },
                            yaxis: {
                              labels: {
                                style: {
                                  colors: 'var(--icon-color)',
                                  fontSize: '12px',
                                  fontFamily: 'Helvetica, Arial, sans-serif',
                                  fontWeight: 400
                                }
                              }
                            },
                        };

                        var chart = new ApexCharts(document.querySelector("#sales-chart-{{ branch.id }}"), options);
                        chart.render();
                    });
                </script>

                <!-- ApexCharts for Receipts -->
                <div id="receipts-chart-{{ branch.id }}" class="mt-4">
                    <h2 class="text-bold text-2xl">Report Scontrini</h2>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var options = {
                            series: [{
                                name: 'Receipts',
                                data: [
                                    {% for date, value in branch.receipts.items %}
                                        {{ value|floatformat:2 }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                ]
                            }],
                            chart: {
                                type: 'line',
                                height: 350
                            },
                            xaxis: {
                              categories: {{ branch.categories|safe }},
                              labels: {
                                style: {
                                  colors: 'var(--icon-color)',
                                  fontSize: '14px',
                                  fontFamily: 'Helvetica, Arial, sans-serif',
                                  fontWeight: 600
                                }
                              }
                            },
                            yaxis: {
                              labels: {
                                style: {
                                  colors: 'var(--icon-color)',
                                  fontSize: '12px',
                                  fontFamily: 'Helvetica, Arial, sans-serif',
                                  fontWeight: 400
                                }
                              }
                            },
                        };

                        var chart = new ApexCharts(document.querySelector("#receipts-chart-{{ branch.id }}"), options);
                        chart.render();
                    });
                </script>

            <!-- ApexCharts for Traffic -->
                <div id="traffic-chart-{{ branch.id }}" class="mt-4">
                    <h2 class="text-bold text-2xl">Report Traffico Esterno</h2>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var options = {
                            series: [{
                                name: 'Traffic',
                                data: [
                                    {% for date, value in branch.traffic.items %}
                                        {{ value|floatformat:2 }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                ]
                            }],
                            chart: {
                                type: 'line',
                                height: 350
                            },
                            xaxis: {
                          categories: {{ branch.categories|safe }},
                          labels: {
                            style: {
                              colors: 'var(--icon-color)',
                              fontSize: '14px',
                              fontFamily: 'Helvetica, Arial, sans-serif',
                              fontWeight: 600
                            }
                          }
                        },
                        yaxis: {
                          labels: {
                            style: {
                              colors: 'var(--icon-color)',
                              fontSize: '12px',
                              fontFamily: 'Helvetica, Arial, sans-serif',
                              fontWeight: 400
                            }
                          }
                        },
                        };

                        var chart = new ApexCharts(document.querySelector("#traffic-chart-{{ branch.id }}"), options);
                        chart.render();
                    });
                </script>

            <!-- ApexCharts for Conversion Rate -->
                <div id="conversionRate-chart-{{ branch.id }}" class="mt-4">
                    <h2 class="text-bold text-2xl">Report Conversione</h2>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var options = {
                            series: [{
                                name: 'Tasso di Conversione',
                                data: [
                                    {% for date, value in branch.conversion_rate.items %}
                                        {{ value|floatformat:2 }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                ]
                            }],
                            chart: {
                                type: 'line',
                                height: 350
                            },
                        xaxis: {
                          categories: {{ branch.categories|safe }},
                          labels: {
                            style: {
                              colors: 'var(--icon-color)',
                              fontSize: '14px',
                              fontFamily: 'Helvetica, Arial, sans-serif',
                              fontWeight: 600
                            }
                          }
                        },
                        yaxis: {
                          labels: {
                            style: {
                              colors: 'var(--icon-color)',
                              fontSize: '12px',
                              fontFamily: 'Helvetica, Arial, sans-serif',
                              fontWeight: 400
                            }
                          }
                        },
                        };

                        var chart = new ApexCharts(document.querySelector("#conversionRate-chart-{{ branch.id }}"), options);
                        chart.render();
                    });
                </script>

            </div>
        {% endfor %}
    </div>

    </div>
</div>

{% endblock %}

